<div *ngIf="user">
  <h1>Details
    <button (click)="close()" class="btn btn-customRed btn-edit float-right" title="Close">
      <i class="far fa-times-circle"></i>
    </button>
  </h1>
  <p>
    <label for="name">Name: </label>
    <input [(ngModel)]="user.name" placeholder="name" id="name" />
  </p>
  <p>
    <label for="number">Number: </label>
    <input [(ngModel)]="user.mobileNum" placeholder="number" id="number" />
  </p>
  <p>
    <label for="location">Location: </label>
    <input [(ngModel)]="user.location" placeholder="location" id="location" />
  </p>
  <button class="btn btn-submit" (click)="save()">Submit</button>
</div>