<div>
    <h1>Details
      <button (click)="close()" class="btn btn-customRed btn-edit float-right" title="Close">
        <i class="far fa-times-circle"></i>
      </button>
    </h1>
    <p>
      <label for="name">Name: </label>
      <input #userName placeholder="name" id="name" />
    </p>
    <p>
      <label for="number">Number: </label>
      <input #userNumber placeholder="number" id="number" />
    </p>
    <p>
      <label for="location">Location: </label>
      <input #userLocation placeholder="location" id="location" />
    </p>
    <button class="btn btn-submit" (click)="add(userName.value,userNumber.value,userLocation.value)">Add</button>
</div>